.header {
  background-color: #87509c;
  padding-top: 57px;
  padding-bottom: 145px;
}

.header-text {
  margin-top: 145px;
}

.header-text__title {
  color: #f7f3ea;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  max-width: 929px;
  margin: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__navigation li {
  margin-right: 46px;
  list-style-type: none;
}

.navbar__navigation li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar__navigation li a:hover {
  background-color: #643a79;
  padding: 10px 18px;
}

.button {
  display: block;
  background-color: #eb7d4b;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.19px;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  padding: 26px 80px;
  border-radius: 5px;
  margin: auto;
  margin-top: 54px;
}

.button:hover {
  cursor: pointer;
}

.services {
  background-color: #17c2a4;
  padding-top: 120px;
  padding-bottom: 128px;
}

.services-text__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.services-text__subtitle {
  display: block;
  max-width: 640px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  text-align: center;
  margin: auto;
  margin-top: 23px;
}

.services-line {
  display: block;
  margin: auto;
  text-align: center;
  width: 87px;
  height: 4px;
  background-color: #000000;
  opacity: 0.15;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 145px;
}

.services-block__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.services-block__service img {
  max-width: 100%;
  min-height: 134px;
  margin: auto;
}

.services-block__title {
  display: block;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 60px;
  letter-spacing: 0.48px;
  text-align: center;
  margin-bottom: 27px;
}

.services-block__descr {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  margin: auto;
  max-width: 220px;
  max-height: 64px;
}

.team {
  background-color: #e7f1f8;
  padding-top: 120px;
  padding-bottom: 127px;
}

.team-text__title {
  color: #3c4761;
  font-size: 41px;
  font-weight: 700;
  line-height: 30.87px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.team-text__subtitle {
  display: block;
  color: #3c4761;
  font-size: 19px;
  font-weight: 400;
  line-height: 26.84px;
  letter-spacing: 0.36px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 78px;
}

.team-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.team-block__title {
  display: block;
  color: #3c4761;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin-bottom: 15px;
  margin-top: 41px;
}

.team-block__title_main {
  display: block;
  color: #27283d;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin-bottom: 15px;
  margin-top: 41px;
}

.team-block__subtitle {
  display: block;
  color: #30bae7;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.32px;
}

.team-block__subtitle_main {
  display: block;
  color: #30bae7;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.32px;
}

.team-block__descr {
  color: #3c4761;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 230px;
}

.team-block__socials {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-right: 30px;
}

.team-block__social a {
  text-decoration: none;
  width: 32px;
  height: 32px;
  background-color: #bdd1df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 12px;
}

.team-line {
  display: block;
  margin: auto;
  width: 87px;
  height: 6px;
  background-color: #bdd1df;
  opacity: 0.75;
}

.member {
  width: 200px;
  height: 200px;
  background-color: #878787;
  border-radius: 50%;
  margin: auto;
}

.skills {
  padding-top: 117px;
  padding-bottom: 122px;
}

.skills-text__title {
  color: #3c4761;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.skills-text__subtitle {
  display: block;
  color: #3c4761;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  text-align: center;
  max-width: 660px;
  margin: auto;
  margin-top: 23px;
  margin-bottom: 85px;
}

.skills-line {
  display: block;
  width: 87px;
  height: 4px;
  background-color: #dfe8ed;
  margin: auto;
}

.skills-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-block__descr {
  margin-top: 30px;
  color: #3c4761;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.skill-progress {
  position: relative;
}

.skill-progress span {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #3c4761;
  font-size: 50px;
  font-weight: 300;
  line-height: 20.84px;
  text-transform: uppercase;
  letter-spacing: 0.86px;
}

.portfolio {
  background-color: #ffdd99;
  padding-top: 120px;
  padding-bottom: 110px;
}

.portfolio-text__title {
  display: block;
  color: #393939;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.portfolio-text__subtitle {
  display: block;
  color: #393939;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-top: 23px;
  margin-bottom: 42px;
}

.portfolio-nav {
  margin-bottom: 62px;
}

.portfolio-nav__navbar {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-nav__navbar li {
  margin-right: 60px;
}

.portfolio-nav__button {
  color: #393939;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.5px;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.portfolio-nav__button:hover {
  background-color: #fff;
}

.portfolio-nav__button:active {
  background-color: #fff;
}

.portfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.portfolio-block__image {
  width: 50%;
  margin-bottom: 32px;
}

.portfolio-block__descr {
  display: block;
  color: #393939;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.5px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.36px;
  margin-bottom: 64px;
}

.portfolio__button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.19px;
  text-transform: uppercase;
  padding: 25px 58px;
  cursor: pointer;
  background-color: #17c2a4;
  letter-spacing: 0.27px;
  margin: 0 auto;
}

.portfolio-line {
  display: block;
  width: 87px;
  height: 4px;
  background-color: #e5c37f;
  margin: auto;
}

.about {
  padding-top: 120px;
  padding-bottom: 130px;
  background-color: #d74680;
}

.about-text {
  text-align: center;
  margin-bottom: 70px;
}

.about-text__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 21px;
}

.about-text__subtitle {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  margin-top: 23px;
}

.about-content {
  position: relative;
  padding-left: 145px;
  margin-bottom: 120px;
}

.about-content:nth-child(4) {
  margin-bottom: 0;
}

.about-content:nth-child(3) {
  margin-bottom: 0;
}

.about-content__descr {
  color: #ffffff;
  font-size: 21px;
  font-style: italic;
  line-height: 31.2px;
  letter-spacing: 0.35px;
}

.about-content__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin-top: 28px;
}

.about-content__subtitle {
  display: block;
  color: #ffdd99;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  margin-top: 10px;
}

.about__member {
  position: absolute;
  left: 0;
  top: 0;
  width: 96px;
  height: 96px;
  background-color: #787878;
  border-radius: 50%;
}

.line {
  margin: auto;
  width: 87px;
  height: 4px;
  background-color: #000000;
  opacity: 0.15;
}

.footer {
  padding-top: 48px;
  padding-bottom: 40px;
  background-color: #344b8e;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav__social {
  list-style-type: none;
}

.footer-nav__social a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.91px;
  letter-spacing: 0.48px;
}

.footer-nav__social a:hover {
  color: #30bae7;
}

.offer {
  background-color: #3c5499;
  padding-top: 120px;
  padding-bottom: 115px;
}

.offer-text {
  text-align: center;
  margin-bottom: 75px;
}

.offer-text__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 21px;
}

.offer-text__subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
}

.offer-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
}

.offer-line {
  width: 87px;
  height: 4px;
  background-color: #273a71;
  margin: auto;
  margin-bottom: 23px;
}

.contact-form__button {
  padding: 0;
  padding: 25px 85px;
  background-color: #30bae7;
}

input, textarea {
  color: #ffffff;
  background-color: #273a71;
  border: none;
  width: 100%;
  padding: 20px 25px;
  border-radius: 4px;
}

input {
  margin-bottom: 27px;
}

body {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */